@import "homechild1.css";
@import "homechild2.css";
.container
    {  
        display: grid;
        margin:auto;
        border:5px solid black;
        width: 100%; 
        height: 100%;
        grid-template-columns: 15rem;
        grid-template-rows: 4.5rem 1fr 4rem;
        grid-template-areas: 
        "top top"
        "sd sd"
        "ft ft"
        ;
    }
.main 
    {
        grid-area: sd;
        display: grid;
        margin:auto;
        width: 100%;
        height: 100%;
        grid-template-columns: 25vw 25vw;
        grid-template-rows: 25vw 25vw;
        grid-row-gap: 0.5vw;
        grid-column-gap:2vw;
        justify-content: center;
        align-items: center;
    }